/**
 * Customizer Title
*/
.customize-control-title {
  display: block;
  margin: 5px -12px;
  padding: 13px 12px;
  background-color: #fff;
  color: #555;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

span#_customize-description-construction_light_enable_frontpage {
    font-size: 15px;
    color: #fd0000 !important;
    margin-left: -25px;
    margin-top: 20px;
}

/**
 * Additional Styles
*/
.cl-repeater-field-control{
  background: #FFF;
  margin-bottom: 12px;
  display: block;
}

.cl-repeater-footer{
  margin-top: 15px;
  text-align: right;
}

.cl-repeater-field-control:first-child .cl-repeater-footer{
  display: none;
}

.cl-repeater-field-title{
  padding: 13px 15px;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1em;
  border: 1px solid #e5e5e5;
  cursor: move;
  position: relative;
  border-bottom: 0;
}

#customize-theme-controls .cl-repeater-field-title.accordion-section-title:after {
  content: "\f142";
  font: 400 20px/1 dashicons;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px 2px 1px 0;
  margin-top: 10px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.cl-repeater-field-control.expanded .cl-repeater-field-title:after{
  content: "\f140";
}

.cl-repeater-fields{
  padding: 0 10px 25px;
  border-top: none;
  line-height: 16px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  display: none;
}

#customize-theme-controls .cl-repeater-field-title.expanded:after {
    content: "\f140";
}

.cl-repeater-fields .customize-control-title{
  margin: 0;
  margin-top: 10px;
}

.cl-repeater-field-control.expanded .cl-repeater-fields{
  display: block;
}

.cl-add-control-field {
  float: right;
}

.cl-add-control-field:before {
    content: "\f132";
    display: inline-block;
    position: relative;
    left: -2px;
    top: -1px;
    font: 400 18px/1 dashicons;
    vertical-align: middle;
}

.cl-fields textarea{
  width: 100%;
  min-height: 100px;
}

.cl-fields select{
  width: 100%;
  min-width: none;
}

.cl-type-checkbox{
  margin-top: 10px;
  position: relative;
}

.cl-type-checkbox label{
    line-height: 20px;
    display: block;
    margin-left: 24px;
    padding-top: 6px;
}

.cl-type-checkbox input[type=checkbox]{
    margin-right: 8px;
    margin-left: -24px;
    position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 10px;
}

.cl-type-selector .selector-labels{
  margin: 0 -5px;
}

.cl-type-selector .selector-labels label{
  display: inline-block;
  padding: 10px 5px 0;
  position: relative;
  max-width: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cl-type-selector .selector-labels label img{
  vertical-align: middle;
}

.cl-type-selector .selector-labels label.selector-selected:after{
  content: "";
  height: 35px;
  width: 35px;
  right: 0;
  top: 0;
  position: absolute;
  background: url(images/selected.png) no-repeat right top;
}

.cl-type-radio .radio-labels label{
  display: block;
  padding: 5px 0;
}

.cl-selected-icon{
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}

.cl-selected-icon span{
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}

.cl-icon-list{
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cl-icon-list li{
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}

.cl-icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}

.cl-icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}

/*font-awesome*/
.cl-repeater-selected-icon{
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}

.cl-repeater-selected-icon span{
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}


.cl-repeater-icon-list{
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cl-repeater-icon-list li{
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}

.cl-repeater-icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}

.cl-repeater-icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}

.customize-control-checkbox-multiple .customize-control-title{
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid #fff;
  -webkit-transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;
  transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;
  color: #0073aa;
  background: #f3f3f5;
  border-left-color: #0073aa;
}
.customize-control-checkbox-multiple ul{
  padding: 5px;
  border: 2px solid #f3f3f5;
}

/**
 * Switch Control
*/
.onoffswitch {
    position: relative;
    width: 140px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 25px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin .3s ease-in 0s;
    -webkit-transition: margin .3s ease-in 0s;
    -o-transition: margin .3s ease-in 0s;
    transition: margin .3s ease-in 0s
}

.onoffswitch-inner > div {
    float: left;
    position: relative;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.onoffswitch-inner .onoffswitch-active {
    background-color: #d4d4d4;
    color: #FFF
}

.onoffswitch-inner .onoffswitch-inactive {
    background-color: #d4d4d4;
    color: #FFF;
    text-align: right
}

.onoffswitch-switch {
    width: 70px;
    margin: 0;
    text-align: center;
    border: 0 solid #999;
    border-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0
}

.onoffswitch-active .onoffswitch-switch {
    background: #0073aa;
    left: 0
}

.onoffswitch-inactive .onoffswitch-switch {
    background: #7D7D7D;
    right: 0
}
.switch-on .onoffswitch-inner {
    margin-left: 0
}

.customize-pane-parent .control-section .accordion-section-title:before,
#sub-accordion-panel-construction_light_frontpage_settings .control-section .accordion-section-title:before{
  font-family: dashicons;
  content: "\f111";
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

#accordion-section-construction_light_front_page .accordion-section-title:before{
  content: "\f147";
}

#accordion-panel-construction_light_general_settings_panel .accordion-section-title:before{
  content: "\f111";
}

#accordion-panel-construction_light_frontpage_settings .accordion-section-title:before{
  content: "\f102";
}

#accordion-panel-construction_light_theme_options .accordion-section-title:before{
  content: "\f489";
}

#accordion-panel-construction_light_header_settings .accordion-section-title:before{
  content: "\f116";
}

#accordion-section-construction_light_blog_template .accordion-section-title:before{
  content: "\f167";
}

#accordion-panel-nav_menus .accordion-section-title:before{
  content: "\f333";
}

#accordion-panel-widgets .accordion-section-title:before{
  content: "\f116";
}

#accordion-panel-widgets .accordion-section-title:before{
  content: "\f116";
}

#accordion-section-custom_css .accordion-section-title:before{
    content: "\f499";
}

#sub-accordion-panel-construction_light_frontpage_settings #accordion-section-construction_light_slider_section.control-section .accordion-section-title:before {
    content: "\f160";
}

#sub-accordion-panel-construction_light_frontpage_settings .control-section .accordion-section-title:before {
    content: "\f168";
    color: #AAA;
}

#sub-accordion-panel-construction_light_frontpage_settings .customize-info .customize-panel-description {
    display: block !important;
}

.construction_light-drag-spinner {
    display: none;
    float: right;
}

.rtl .control-section-constructionlight .accordion-section-title .button {
  margin-left:  0;
  margin-right: 8px;
}

#accordion-section-constructionlightdoc .accordion-section-title .button {
    float: right;
}
